.Consultancy_ {
    height: 220px;
    width: 470px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    float: right;
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -350px;
    margin-right: 30px;
    padding-left: 20px;
    font-weight: 500;
    border-radius: 10px;
    padding-right: 20px;
    animation-name: anything;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 800ms;
}

.he1 {
    align-content: center;
    padding-top: 35px;
}

.or_se {
    margin-top: 70px;
    margin-left: 20px;
    padding-top: 30px;
    height: 400px;
    width: 330px;
    padding-left: 40px;
    line-height: 50px;
    background-color: rgb(224, 222, 222);
    font-size: 30px;
    font-family: serif;
    font-weight: 700;
    border-radius: 10px;
}

.or_se1 {
    margin-top: 70px;
    padding-top: 30px;
    height: 400px;
    width: 330px;
    padding-left: 40px;
    background-color: rgb(224, 222, 222);
    line-height: 70px;
    font-size: 34px;
    font-family: serif;
    font-weight: 800;
    margin-left: 430px;
    position: absolute;
    border-radius: 10px;
}
.about_us{
text-align: center;
font-size: 40px;
font-family:"Georgia"; 
font-weight: 600;
margin-bottom: 10px;
}

.advicef {
    height:max-content;
    width: 98%;
    font-family:"Georgia"; 

 
  text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: rgb(27, 26, 26);
    padding-left: 2%;
    background-color: rgb(118, 209, 214);
}